<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Сторінку не знайдено</title>
    <link rel="stylesheet" href="/static/css/error_pages.css">
</head>
<body>
    <div class="error-page">
        <div class="error-container">
    <h1>404</h1>
    <h2>Сторінку не знайдено :(</h2>
    <p>Можливо, ви перейшли за неправильним посиланням або сторінка була видалена.</p>
    <a href="/">На головну</a>
  </div>
    </div>
</body>
</html>
