{% extends 'base.html' %}
{%load static%}  
{% block content %} 
    <div class="profile-hero">
        <div class="profile-image">
            {% if teacher.photo %}
                <img src="{{ teacher.photo.url }}" alt="Teacher" class="profile-photo">
            {% else %}
                <img src="{% static 'assets/img/default.jpg' %}" alt="No photo" class="profile-photo">
            {% endif %}
        </div>
        <div class="profile-info">
            <h1>{{ teacher.teacher_id.first_name | capfirst }} {{ teacher.teacher_id.last_name | capfirst }}</h1>
            <div class="info-grid">
                <div class="info-item">
                    <p>{{ teacher.teacher_id.department | title }}</p>
                </div>
                <div class="info-item">
                    <h4>Position</h4>
                    <p>{{ teacher.position | capfirst }}</p>
                </div>
                <div class="info-item">
                    <h4>Available Slots</h4>
                    <p>{{free_slots}}</p>
                </div>
                <div class="info-item">
                    <h4>Contact</h4>
                    <p>{{ teacher.teacher_id.email }}<br>{{ teacher.phone_num }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-container">
        <div class="tabs-nav">
            <button class="tab-button active" data-tab="scientific">Scientific Interests</button>
        </div>

        <div class="tab-content" id="scientific">
            <h3>Scientific Interests</h3>
            <p>{{ teacher.sci_interests | capfirst}}</p>
        </div>
        </div>
    </div>
{% endblock %}