{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Teachers</title>
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <header id="header" class="header">
    <div class="container">
      <a href="#" class="logo">
        <h1 class="sitename">Name</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="does not work">Themes</a></li>
          <li><a href="does not work">Chat</a></li>
          <li><a href="does not work">Profile</a></li>
        </ul>
      </nav>
    </div>
  </header>  
  
  <main class="main">
    {% for item in data %}
    <section class="teacher-info">
      <div class="teacher-card">
        <div class="photo-container">
          <div class="teacher-photo">
            {% if item.teacher.photo %}
              <img src="{{ item.teacher.photo }}" alt="Teacher">
            {% else %}
              <img src="{% static 'assets/img/default.jpg' %}" alt="No photo">
            {% endif %}
          </div>
          <div class="rating-container">
            <div class="stars">
              {% for i in "12345"|make_list %}
                {% if forloop.counter <= item.avg_rating %}
                  <i class="fas fa-star"></i>
                {% elif forloop.counter == item.avg_rating|add:"0.5"|floatformat:"0" %}
                  <i class="fas fa-star-half-alt"></i>
                {% else %}
                  <i class="far fa-star"></i>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="teacher-details">
          <h3>{{ item.teacher.teacher_id.first_name }} {{ item.teacher.teacher_id.last_name }}</h3>
          <h4>{{ item.teacher.teacher_id.faculty }}</h4>
          <p><strong>Наукові інтереси:</strong> {{ item.teacher.sci_interests }}</p>
          <p><strong>Пошта:</strong> {{ item.teacher.teacher_id.email }}</p>
          <p><strong>Місця:</strong> {{ item.free_slots }}</p>
        </div>
      </div>
    </section>
    {% endfor %}
  </main>
  
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>