{% extends "base.html" %}
{%load static%}
{% block content %}
    <div class="search-section">
      <div class="search-container">
          <input type="text" class="search-input" placeholder="Пошук викладача...">
          <button class="filter-btn" onclick="toggleFilters()">
              <img src="{% static 'assets/img/filters.ico' %}" alt="Filters">
          </button>
      </div>
    </div>

    <div class="filter-panel" id="filterPanel">
      <div class="filter-header">
          <h3>Фільтри</h3>
          <button class="close-filters" onclick="toggleFilters()">×</button>
      </div>
      <div class="filter-content">
          <!-- Add filter options here -->
      </div>
    </div>
    
    {% for item in data %}
    <section class="teacher-info">
      <div class="teacher-card" onclick="cardClick(event, '{{ item.teacher.get_absolute_url }}')">
        <div class="photo-container">
          <div class="teacher-photo">
            {% if item.teacher.photo %}
              <img src="{{ item.teacher.photo.url }}" alt="Teacher">
            {% else %}
              <img src="{% static 'assets/img/default.jpg' %}" alt="No photo">
            {% endif %}
          </div>
          </div>
        <div class="teacher-details">
          <h3>{{ item.teacher.teacher_id.first_name | capfirst }} {{ item.teacher.teacher_id.last_name | capfirst }}</h3>
          <h4>{{ item.teacher.teacher_id.department | title }}</h4>
          <p><strong>Наукові інтереси:</strong> {{ item.teacher.sci_interests|truncatewords:20 }}</p>
          <p><strong>Пошта:</strong> {{ item.teacher.teacher_id.email }}</p>
          <p><strong>Місця:</strong> {{ item.free_slots }}</p>
        </div>
      </div>
    </section>
    {% endfor %}
{% endblock  %}    
