<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід</title>
    {% load static %}
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
  </head>
  <body>
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="wrapper">
      <h2>Вхід</h2>
      <!-- Login form -->
      <form action="{% url 'login' %}" method="GET">
        {% csrf_token %}
        <!-- Submit button -->
        <div class="input-box button">
          <a type="submit" href="{% url 'login' %}?redirect=true" class="register-button microsoft-button">Увійти через Microsoft</a>
        </div>
        <!-- Registration link -->
        <div class="text">
          <h3>Ще не маєш облікового запису? <a href="{% url 'register' %}">Зареєструйся!</a></h3>
        </div>
      </form>
    </div>
  </body>
</html>
