{% extends "profile/profile-page.html" %}

{%load static%}

{% block title %}Профіль користувача{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-info">
            <div class="profile-pic">
                {% if user_profile.profile_picture %}
                    <img src="{{ user_profile.profile_picture.url }}" alt="Фото профілю" class="default-avatar">
                {% else %}
                    <img src="{% static 'images/default-avatar.jpg' %}" alt="Фото профілю" class="default-avatar">
                {% endif %}
            </div>
            <div class="profile-text">
                <h2>{{ user_profile.get_full_name }}</h2>
                <h3>{{ user_profile.role }}</h3>
                {% if user_profile.role == "Викладач" %}
                    <p>Кафедра: {{ user_profile.department }}</p>
                {% elif user_profile.role == "Студент" %}
                    <p>Група: {{ user_profile.academic_group }}</p>
                {% endif %}
                {% comment %} <a href="{% url 'profile_detail' 79 %}" class="profile-link">Переглянути профіль</a> {% endcomment %}
            </div>
        </div>
        {% if is_own_profile %}
            <div class="profile-buttons">
                <a href="#">
                    <i class="fas fa-edit"></i>
                </a>
                <form id="logout-form" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <a href="#" onclick="document.getElementById('logout-form').submit();">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </form>
            </div>
        {% endif %}
    </div>

    <!-- Tabs Section -->
    <div class="tabs">
        <div class="tab active" onclick="loadTab('info')">Інформація</div>
        {% if is_own_profile %}
            <div class="tab" onclick="loadTab('requests')">Запити</div>
        {% endif %}
        <div class="tab" onclick="loadTab('active')">Активні</div>
        <div class="tab" onclick="loadTab('archive')">Архів</div>
    </div>

</div>

<div id="info-section" class="tab-content"> 
    {% include 'profile/info.html' with themes=themes slots=slots %}
</div>

<div id="requests-section" class="tab-content" style="display: none;">
    {% include 'profile/requests.html' %}
</div>

<div id="active-section" class="tab-content" style="display: none;"> 
    <p>Активні роботи...</p> 
</div>

<div id="archive-section" class="tab-content" style="display: none;"> 
    <p>Архів курсів...</p> 
</div>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="success-popup {{ message.tags }}">
        {% if message.tags == 'success' %}
        <img src="{% static 'images/toastIcon.svg' %}" alt="Success" class="success-icon" />
        {% elif message.tags == 'error' %}
        <img src="{% static 'images/errorIcon.svg' %}" alt="Error" class="success-icon" />
        {% endif %}
        <div>
            <div class="popup-content">
                <p class="popup-title">
                    {% if message.tags == 'success' %}
                    Успіх!
                    {% elif message.tags == 'error' %}
                    Помилка!
                    {% endif %}
                </p>
                <p class="popup-text">
                    {{ message }}
                </p>
            </div>
            <i class="toast-close fas fa-times" onclick="closePopup()"></i>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tabs = document.querySelectorAll(".tab");

        tabs.forEach(tab => {
            tab.addEventListener("click", function () {
                // Remove "active" class from all tabs
                tabs.forEach(t => t.classList.remove("active"));

                // Add "active" class to the clicked tab
                this.classList.add("active");
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const tabs = document.querySelectorAll(".tab");
        const tabContents = document.querySelectorAll(".tab-content");

        tabs.forEach(tab => {
            tab.addEventListener("click", function () {
                // Hide all tab contents
                tabContents.forEach(content => content.style.display = "none");

                // Remove active class from all tabs
                tabs.forEach(t => t.classList.remove("active"));

                // Show the selected tab's content
                const tabName = this.getAttribute("onclick").match(/'([^']+)'/)[1];
                document.getElementById(tabName + "-section").style.display = "block";

                // Set active tab
                this.classList.add("active");
            });
        });
    });

    function closePopup() {
        const popup = document.querySelector('.success-popup');
        popup.style.display = 'none';
      }

       // Close the modal for the specific request
    function closeModal(requestId) {
        document.getElementById("rejectModal-" + requestId).style.display = "none";
    }
</script>
{% endblock %}
