.success-popup {
    position: fixed; /* Position fixed at the top of the viewport */
    top: 20px; /* Distance from the top of the page */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    background-color: white; /* White background */
    padding: 16px; /* More spacious padding */
    border-radius: 12px; /* Slightly more rounded corners */
    border:  3px solid #6FCF97; /* Green border by default */
    box-shadow: none; /* Softer, expensive-looking shadow */
    z-index: 1000; /* Ensure it stays on top */
    text-align: center;
    animation: fadeIn 0.5s ease-in-out; /* Smooth fade-in animation */
    display: flex;
    max-width: 400px;
    width: 100%;
    align-items: center;
  }
  
  .success-icon {
    width: 2.8rem; /* Adjust size */
    height: 2.8rem;
    margin-right: 10px; /* Space between icon and text */
  }
  
  .popup-content {
    text-align: start;
  }
  
  .popup-title {
    font-size: 16px; /* Larger title for emphasis */
    font-weight: 700; /* Slightly heavier font for premium feel */
    color: #333; /* Darker text color */
    margin-bottom: 5px;
    margin: 0; /* Small margin below the title */
  }
  
  .popup-text {
    font-size: 14px; /* Smaller text for additional information */
    color: #333; /* Darker text color */
    margin: 4px 0 0; /* Small margin below the text */
  }
  
  /* Style for the close button */
  .success-popup .toast-close {
    position: absolute; /* Absolutely position it inside the parent */
    top: 10px; /* Distance from the top of the popup */
    right: 10px; /* Distance from the right of the popup */
    font-size: 18px; /* Size of the close icon */
    cursor: pointer; /* Pointer cursor to indicate it's clickable */
    color: #333; /* Close button color */
    z-index: 1001; 
  }
    
  /* Error Message Styling */
  .success-popup.error {
    border-color: #EB5757; /* Red border for errors */
    max-width: 500px; /* Wider for longer error messages */
  }
  
  .success-popup.error .success-icon {
    display: none; /* Hide the success icon for errors */
  }
  
    
      /* Animation for Popup */
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateX(-50%) translateY(-20px);
        }
        to {
          opacity: 1;
          transform: translateX(-50%) translateY(0);
        }
      }