@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

body {
  min-height: 100vh;
  /* display: flex; */
  background: #87bdf1;
  position: relative;
}

.wrapper {
  position: absolute;
  max-width: 460px;
  width: 100%;
  background: #fff;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper h2 {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  color: #333;
  display: inline;
  white-space: nowrap;
}

.wrapper form {
  margin-top: 20px;
}

.wrapper form .input-box {
  height: 52px;
  margin-bottom: 0px;
  margin-top: 10px;
  flex-direction: column;
  display: flex;
}

.wrapper .input-box input {
  height: 100%;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 8px 15px;
  min-height: 50px;
}

/* 
.input-box input:focus,
.input-box input:valid {
  border-color: #7128ee;
} */

.input-box label {
  color: #344054;
  font-size: 15px;
  font-weight: 600;
}

form .policy {
  display: flex;
  align-items: center;
}

form h3 {
  color: #98a2b3;
  font-size: 14px;
  font-weight: 500;
}

form h3 a {
  color: #1574e9;
  text-decoration: none;
}

/* .input-box.button button, */
.input-box.button input {
  color: #fff;
  background: #7128ee;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.text {
  margin-top: 0.5rem;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
}

#group-or-department-container {
  margin-bottom: 10px;
}

.microsoft-button {
  text-align: center;
  background-color: #1570ef;
  color: white;
  padding: 14px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  z-index: 1;
}

.microsoft-button:hover {
  background-color: #005a9e;
}

.success-popup {
  position: fixed; /* Position fixed at the top of the viewport */
  top: 20px; /* Distance from the top of the page */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: white; /* White background */
  padding: 16px; /* More spacious padding */
  border-radius: 12px; /* Slightly more rounded corners */
  border: 3px solid #6fcf97; /* Green border by default */
  box-shadow: none; /* Softer, expensive-looking shadow */
  z-index: 1000; /* Ensure it stays on top */
  text-align: center;
  animation: fadeIn 0.5s ease-in-out; /* Smooth fade-in animation */
  display: flex;
  max-width: 400px;
  width: 100%;
  align-items: center;
}

.success-icon {
  width: 2.8rem; /* Adjust size */
  height: 2.8rem;
  margin-right: 10px; /* Space between icon and text */
}

.popup-content {
  text-align: start;
}

.popup-title {
  font-size: 16px; /* Larger title for emphasis */
  font-weight: 700; /* Slightly heavier font for premium feel */
  color: #333; /* Darker text color */
  margin-bottom: 5px;
  margin: 0; /* Small margin below the title */
}

.popup-text {
  font-size: 14px; /* Smaller text for additional information */
  color: #333; /* Darker text color */
  margin: 4px 0 0; /* Small margin below the text */
}

/* Style for the close button */
.toast-close {
  position: absolute; /* Absolutely position it inside the parent */
  top: 10px; /* Distance from the top of the popup */
  right: 10px; /* Distance from the right of the popup */
  font-size: 20px; /* Size of the close icon */
  cursor: pointer; /* Pointer cursor to indicate it's clickable */
  color: #333; /* Close button color */
}

/* Error Message Styling */
.success-popup.error {
  border-color: #eb5757; /* Red border for errors */
}

/* Animation for Popup */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.logo {
  width: 17px; /* Adjust size */
  height: 17px;
  margin-right: 10px; /* Space between logo and text */
}

.role-selection {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.toggle-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10px;
}

.custom-radio-class input[type="radio"] {
  display: none; /* Hide the default radio buttons */
}

.custom-radio-class label {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f0f8ff;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1; /* Optional: Makes both buttons equal in width */
}

.custom-radio-class input[type="radio"]:checked + label {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.custom-radio-class label:hover {
  background-color: #e6f2ff;
}

.role-button {
  width: 49%;
  background-color: #d1e9ff;
  color: #1473eb;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.role-button:hover {
  background-color: #1570ef;
  color: white;
}

.role-button.active {
  background-color: #1570ef;
  color: white;
}

.role-button.active:hover {
  background-color: #0d51af;
}

.form-h3 {
  color: #344054;
  font-weight: 600;
  font-size: 15px;
}

.form-input::placeholder {
  color: #bbbbbb; /* Placeholder text color */
  font-size: 14px; /* Optional: set the font size */
}
.form-input:focus,
.form-input:valid,
.form-input:active,
.form-input:focus-visible {
  border: 2px solid #d1e9ff !important; /* Your custom focus border color */
  outline: none;
}

.form-select {
  font-size: 14px;
  padding: 5px;
  height: 100%;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 8px 15px;
  min-height: 50px;
  outline: none;
}

.form-select::placeholder {
  color: #bbbbbb; /* Placeholder text color */
  font-size: 14px; /* Optional: set the font size */
}

@media (max-width: 480px) {
  .wrapper {
    padding: 20px 25px;
    max-width: 350px;
  }

  .wrapper h2 {
    font-size: 20px;
  }

  .microsoft-button {
    font-size: 12px;
    padding: 8px;
  }

  .popup-title {
    font-size: 14px;
  }

  .popup-text {
    font-size: 12px;
  }

  .toast-close {
    font-size: 16px;
  }

  .text h3 {
    font-size: 12px;
  }

  .text h3 a {
    font-size: 12px;
  }

  .form-input {
    font-size: 12px;
    padding: 8px;
  }

  .form-select {
    font-size: 12px;
    padding: 8px;
  }

  .logo {
    width: 12px;
    height: 12px;
  }

  .success-popup {
    padding: 10px;
  }
}
