{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>Teachers</title>
  
  <!-- CSS -->
  <link href="{% static 'css/header.css' %}" rel="stylesheet">
  <link href="{% static 'css/messages.css' %}" rel="stylesheet">
  <link href="{% static 'css\catalog.css' %}" rel="stylesheet">
  <link href="{% static 'css\modal.css' %}" rel="stylesheet">
  <link href="{% static 'css\teacher_card.css' %}" rel="stylesheet">
  <link href="{% static 'css/file_comments.css' %}" rel="stylesheet">

  
  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  {% include 'header.html' %}

  <main class="main">
    {% block content %}{% endblock  %}
  </main>

  <!-- External JS -->
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="{% static 'js/catalog.js' %}"></script>
</body>
</html>