{% extends "catalog/base.html" %}
{% load static %}
{% load widget_tweaks %}

<!-- Added modern CSS stylesheet -->
<link rel="stylesheet" href="{% static 'css/modern-academic-style.css' %}">

<!-- 
This template displays a list of teachers and highlights their available slots.
It provides a modal dialog to submit requests. 
When a user triggers the HX request (via button click), the modal is swapped in with HTMX. 
-->

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

{% block content %}

<!-- Main container with Alpine.js state management -->
<div class="main-container-catalog" 
  x-data="{ 
     data: [], 
     departments: [], 
     academic_levels: [], 
     slots: null,
     show_occupied: false,
     full_names: [], 
     searchQuery: '', 
     isLoading: true,
     showFilters: window.innerWidth > 780,
    isMobile: window.innerWidth <= 780,
    toggleFilters() {
      this.showFilters = !this.showFilters;
    },
    updateScreenSize() {
      this.isMobile = window.innerWidth <= 780;  // Ensure breakpoint matches CSS
      if (!this.isMobile) this.showFilters = true;
     },
     filteredData: [],  
     async initData() {
      try {
        const response = await fetch('/catalog/teachers/');
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        const data = await response.json();
        if (data.error) {
          console.error('Server error:', data.error);
          this.data = [];
          this.filteredData = [];
          return;
        }
        this.data = data;
        this.filteredData = data.filter(i => i.free_slots.some(slot => slot.get_available_slots > 0));
      } catch (error) {
        console.error('Error fetching data:', error);
        this.data = [];
        this.filteredData = [];
      }
      finally {
        this.isLoading = false;
      }
     }
  }" 
  x-init="initData(); updateScreenSize(); 
    window.addEventListener('resize', updateScreenSize)">
  

    <!-- Filter Section -->
    <div x-show="showFilters"
        x-transition.opacity.duration.300ms
        class="filter-wrapper"
        @click.away="isMobile && (showFilters = false)"
    >
        <div class="filter-section shadow-sm" @click.outside.window="isMobile && (showFilters = false)">
        <div class="filter-header">
        <h3>Фільтри</h3>
        <img src="{% static 'images/filters.svg' %}" alt="Filters">
        </div>
        <div class="filter-content">
        <hr class="devider">
        <h3 class="option-label">{{ form.departments.label }}</h3>
        {% render_field form.departments class="form-checkbox" autocomplete="off" @change="departments = changeDepartments($el, departments)" %}
        
        <hr class="devider">
        <h3 class="option-label">{{ form.slots.label }}</h3>
        <div class="range-container">
        <template x-if="show_occupied">
            {% render_field form.slots class="form-range" autocomplete="off" x-bind="{disabled: show_occupied}" @input="slots = $el.value" %}
        </template>
        <template x-if="!show_occupied">
            {% render_field form.slots class="form-range" autocomplete="off" @input="slots = $el.value" %}
        </template>
        <span class="range-value" x-text="slots || '0'"></span>
        </div>

        <hr class="devider">
        <h3 class="option-label">Науковий ступінь</h3>
        {% render_field form.academic_levels class="form-checkbox" autocomplete="off" @change="academic_levels = changeAcademicLevels($el, academic_levels)" %}
        
        <hr class="devider">
        <div class="checkbox-wrapper">
        <span class="checkbox-text">Викладачі без вільних місць</span>
        {% render_field form.show_occupied class="form-boolean" autocomplete="off" @change="handleShowOccupied($el)" %}
        </div>
        <button class="filter-button" @click="applyFilters(); isMobile && (showFilters = false)">Фільтрувати</button>
        </div>
        </div>
    </div>

    <!-- Content Section -->
    <div class="content-section">
     <!-- Search Section -->
     <div class="search-section">
      <h1>Знайди свого ідеального наукового керівника!</h1>
      <div class="search-container">
       {% render_field form.searching class="form-searching" autocomplete="off" x-model="searchQuery" @keydown.enter="applySearch()" %}
       <button class="search-button" @click="applySearch()">
        <img src="{% static 'images/search.svg' %}" alt="Search">
       </button>
      </div>
      <!-- Toggle button for small screens -->
        <button class="mobile-filter-toggle" 
        @click="toggleFilters()" 
        x-show="isMobile"
        >
            Фільтри
        </button>
     </div>

      <template x-if="isLoading">
        <div class="loader-container">
            <div class="loader"></div>
        </div>
     </template>

     <!-- No Results Message -->
     <template x-if="!isLoading && filteredData.length === 0">
      <div class="no-results">
        <div class="search-icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" class="search-icon" viewBox="0 0 24 24">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.7" y2="16.7"></line>
          </svg>
        </div>
        <h2>Нічого не знайдено!</h2>
        <p>Спробуйте змінити критерії пошуку або фільтри.</p>
      </div>
     </template>

     <!-- Teacher Cards -->
     <template x-for="item in filteredData">
      {% include "catalog/teacher_cards.html" %}
     </template>
    </div>
</div>

<!-- Modal Dialog for Request Submission -->
<dialog id="details_request_modal" class="modal">
    <div class="modal-box" id="inner_modal">
     <h3>Подати заявку</h3>
     <form method="dialog" class="modal-backdrop">
      <button>Close</button>
     </form>
    </div>
</dialog>


<!-- Messages -->
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="success-popup {{ message.tags }}">
                {% if message.tags == 'success' %}
                    <img src="{% static 'images/toastIcon.svg' %}" alt="Success" class="success-icon" />
                {% elif message.tags == 'error' %}
                    <img src="{% static 'images/errorIcon.svg' %}" alt="Error" class="success-icon" />
                {% endif %}
                <div>
                    <div class="popup-content">
                        <p class="popup-title">
                            {% if message.tags == 'success' %}Успіх!{% elif message.tags == 'error' %}Помилка!{% endif %}
                        </p>
                        <p class="popup-text">{{ message }}</p>
                    </div>
                    <i class="toast-close fas fa-times close" onclick="closePopup()"></i>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

<!-- External JavaScript Files -->
<script src="{% static 'js/teacher_modal.js' %}"></script>
<script src="{% static 'js/filtering.js' %}"></script>

{% endblock %}
